{% extends "arsip/base_arsip.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="mb-4 text-center">Login</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" autofocus required class="form-control" id="id_username">
          </div>
          <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control" id="id_password">
          </div>
          <!-- <div class="mb-3">
            <a href="{% url 'arsip:register' %}">Register</a>
          </div> -->
          <button type="submit" class="btn btn-primary w-100">Login</button>
          <!-- <div class="mb-3 text-center">
            <a href="{% url 'arsip:password_reset' %}">Lupa password?</a>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
